body{
font-family: Arial;
margin:0;
background:white;
}

header{
background:orange;
color:white;
text-align:center;
padding:20px;
}

.intro{
display:flex;
justify-content:center;
gap:40px;
padding:40px;
}

.intro img{
width:200px;
}

.intro-text{
width:400px;
}

button{
padding:10px 20px;
background:#34A853;
color:white;
border:none;
cursor:pointer;
}

.gallery-title{
text-align:center;
margin-top:20px;
}

.gallery{
display:flex;
justify-content:center;
gap:20px;
padding:20px;
}

.gallery img{
width:150px;
height:120px;
object-fit:cover;
}

.details, .address{
display:flex;
justify-content:center;
gap:40px;
padding:30px;
}

.box{
background:white;
padding:20px;
width:250px;
border-radius:5px;
box-shadow:0 0 5px gray;
}

.contact{
text-align:center;
background:white;
margin:20px;
padding:20px;
}

footer{
background:brown;
color:white;
text-align:center;
padding:15px;
}